<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://img.icons8.com/cotton/64/000000/cash-euro.png">
    <link rel="stylesheet" type="text/css"
          href="../css/account.css" th:href="@{css/account.css}">
    <title>Account Page</title>
</head>
<body>
<div class="nav">
    <a class="back" href="Home.html" th:href="@{/HomePageController}">Home</a>
    <a class="logout" href="../index.html" th:href="@{/Logout}">Logout</a>
</div>

<fieldset>
    <legend><h2>Account Details</h2></legend>
    <p><b>Balance: </b>
        <span th:text="${session.currentUser.getAccount(#response.getHeader('chosenAccount')).getBalance()}">0</span</p>
    <p><b>User code: </b><span th:text="${session.currentUser.getCode()}">Alessio</span></p>
    <p><b>Account Code: </b><span th:text="${#response.getHeader('chosenAccount')}">Alessio</span></p>
</fieldset>

<h2>List of movements</h2>
<h3>Outgoing</h3>
<table border="1">
    <thead>
    <tr>
        <th>code</th>
        <th>date</th>
        <th>transferred money to account</th>
        <th>amount</th>
        <th>causal</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transfer : ${session.currentUser.getAccount(#response.getHeader('chosenAccount')).getMovements()}"
        th:if="${transfer.getOrigin_account()==#response.getHeader('chosenAccount')}">
        <td th:text="${transfer.getTransfer_code()}"></td>
        <td th:text="${transfer.getDate()}"></td>
        <td th:text="${transfer.getDest_account()}"></td>
        <td class="exit" th:text="${transfer.getAmount()}"></td>
        <td th:text="${transfer.getCausal()}"></td>
    </tr>
    </tbody>
</table>
<h3>Incoming</h3>
<table border="1">
    <thead>
    <tr>
        <th>code</th>
        <th>date</th>
        <th>received money from account</th>
        <th>amount</th>
        <th>causal</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transfer : ${session.currentUser.getAccount(#response.getHeader('chosenAccount')).getMovements()}"
        th:if="${transfer.getDest_account()==#response.getHeader('chosenAccount')}">
        <td th:text="${transfer.getTransfer_code()}"></td>
        <td th:text="${transfer.getDate()}"></td>
        <td th:text="${transfer.getDest_account()}"></td>
        <td class="entrance" th:text="${transfer.getAmount()}"></td>
        <td th:text="${transfer.getCausal()}"></td>
    </tr>
    </tbody>
</table>

<h2>Transfer Money</h2>
<form th:action="@{/AccountStatusController}"
      method="post">
    user code: <br>
    <input type="text" name="user_code"><br>
    account code: <br>
    <input type="text" name="account_code"><br>
    causal: <br>
    <input type="text" name="subject"><br>
    amount: <br>
    <input type="text" name="amount"><br>
    <input type="hidden" name="chosenAccountField" th:value="${#response.getHeader('chosenAccount')}"><br>
    <input type="submit" name="submit" value="Transfer">
</form>
</body>
</html>