<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href = "https://img.icons8.com/cotton/64/000000/cash-euro.png">
    <title>Transfer</title>
</head>
<body>
<div class="nav">
    <a class="back" href="Home.html"
       th:href="@{/AccountStatusController(account_code=${#response.getHeader('chosenAccount')})}">Account Page</a>
</div>
<h1>Your transfer has been processed correctly!</h1>
<br>
<fieldset>
    <legend>Your Account</legend>
    <p><b>Balance: </b>
        <span th:text="${session.currentUser.getAccount(#response.getHeader('chosenAccount')).getBalance()}">0.0</span>
    </p>
    <p><b>User code: </b><span th:text="${session.currentUser.getName()}">123456</span></p>
    <p><b>Account Code: </b><span th:text="${#response.getHeader('chosenAccount')}">111111</span></p>
</fieldset>
<br>
<fieldset>
    <legend>Account you sent money</legend>
    <p><b>Balance: </b>
        <span th:text="${#response.getHeader('balance_dest')}">0.0</span</p>
    <p><b>User code: </b><span th:text="${#response.getHeader('user_dest')}">123456</span></p>
    <p><b>Account Code: </b><span th:text="${#response.getHeader('account_dest')}">111111</span></p>
</fieldset>
</body>
</html>