<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="../css/home.css" th:href="@{css/home.css}">
    <title>Home</title>
</head>
<body>
<div class="logout">
    <a href="../index.html" th:href="@{/Logout}">Logout</a>
</div>
<h1>List of Accounts</h1>
<fieldset>
    <legend>User info</legend>
    <p><b>User: </b><span th:text="${session.currentUser.getName()}">Alessio</span><br></p>
    <p><b>User Code: </b><span th:text="${session.currentUser.getCode()}">123456</span></p>
</fieldset>
<form th:action="@{/AccountStatusController}"
      method="get">
    <p>
    <fieldset>
        <legend>Choose an Account</legend>
        <div th:each="acc : ${session.currentUser.getAccounts()}">
            <input type="radio" name="account_code" th:value="${acc.getCode()}" required/>
            <span th:text="${'Account: ' + acc.getCode()}"></span><br>
        </div>
    </fieldset>
    <p>
        <input type="submit" name="submit" value="Go to the Account">
    </p>
</form>
</body>
</html>