<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/home.css" th:href="@{css/home.css}">
    <title>Home</title>
</head>
<body>
<div class="logout">
    <a href="../index.html" th:href="@{/Logout}">Logout</a>
</div>
<h1>
    List of Accounts
</h1>
<h2>
    User ~<span th:text="${session.currentUser.getName()}">Alessio</span>~
</h2>
<h3>
    User Code ~<span th:text="${session.currentUser.getCode()}">123456</span>~
</h3>
<form th:action="@{/AccountStatusController}"
      method="get">
    <fieldset>
        <legend>Choose an Account:</legend>
        <div th:each="acc : ${session.currentUser.getAccounts()}">
            <span th:text="${'Account: ' + acc.getCode()}"></span>
            <input type="radio" name="account_code" th:value="${acc.getCode()}" required/>
        </div>
    </fieldset>
    <input type="submit" name="submit" value="Go to the Account">
</form>
</body>
</html>